﻿<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Geair - Air Ticket Booking System HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="https://themehut.co/html/geair/assets/img/favicon.png">
    <link rel="stylesheet" href="https://themehut.co/html/geair/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://themehut.co/html/geair/assets/css/animate.min.css">
    <link rel="stylesheet" href="https://themehut.co/html/geair/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="https://themehut.co/html/geair/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://themehut.co/html/geair/assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://themehut.co/html/geair/assets/css/odometer.css">
    <link rel="stylesheet" href="https://themehut.co/html/geair/assets/css/flaticon.css">
    <link rel="stylesheet" href="https://themehut.co/html/geair/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="https://themehut.co/html/geair/assets/css/slick.css">
    <link rel="stylesheet" href="https://themehut.co/html/geair/assets/css/default.css">
    <link rel="stylesheet" href="https://themehut.co/html/geair/assets/css/style.css">
    <link rel="stylesheet" href="https://themehut.co/html/geair/assets/css/responsive.css">
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div id="preloader">
        <div id="loading-center">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>
            </div>
        </div>
    </div>
    <main>
        <section class="slider-area">
            <div class="slider-active">
                <div class="single-slider slider-bg" data-background="https://s3.eu-central-1.amazonaws.com/static.obilet.com/images/page-banner/spring-background-2020.png">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-10">
                                <div class="slider-content">
                                    <h2 class="title" data-animation="fadeInUp" data-delay=".2s">Obilet API</h2>
                                    <p data-animation="fadeInUp" data-delay=".4s">The Atic</p>
                                    <a href="/" class="btn" data-animation="fadeInUp" data-delay=".6s">Yeniden Ara</a>

                                    @if (TempData["Result"] != null)
                                    {
                                        <hr />
                                        <p data-animation="fadeInUp" data-delay=".4s">@TempData["Result"]</p>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @RenderBody()
    </main>
    <script src="https://themehut.co/html/geair/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="https://themehut.co/html/geair/assets/js/bootstrap.min.js"></script>
    <script src="https://themehut.co/html/geair/assets/js/isotope.pkgd.min.js"></script>
    <script src="https://themehut.co/html/geair/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="https://themehut.co/html/geair/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="https://themehut.co/html/geair/assets/js/jquery.odometer.min.js"></script>
    <script src="https://themehut.co/html/geair/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="https://themehut.co/html/geair/assets/js/jquery.appear.js"></script>
    <script src="https://themehut.co/html/geair/assets/js/slick.min.js"></script>
    <script src="https://themehut.co/html/geair/assets/js/jquery-ui.min.js"></script>
    <script src="https://themehut.co/html/geair/assets/js/wow.min.js"></script>
    <script src="https://themehut.co/html/geair/assets/js/main.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
