﻿@using AticAPI.WebUI.Models.VM
@using System.Globalization
@model BusJourneyVM

@{
    CultureInfo culture = new CultureInfo("tr-TR");
    string path = "https://s3.eu-central-1.amazonaws.com/static.obilet.com/images/partner/";
    string ext = "-sm.png";
}


<div class="booking-list-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-100">
                @if (Model.busJourneyDatas != null && Model.busJourneyDatas.Count > 0)
                {
                    foreach (var item in Model.busJourneyDatas)
                    {
                        <div class="booking-list-item">
                            <div class="booking-list-item-inner">
                                <div class="booking-list-top">
                                    <div class="flight-airway">
                                        <div class="flight-logo" style="width:170px">
                                            <img src="@path@item.PartnerId@ext" alt="">
                                            <h5 class="title">@item.PartnerName</h5>
                                        </div>

                                    </div>
                                    <ul class="flight-info">
                                        <li><span>@item.Journey.Origin -> @item.Journey.Destination</span></li>
                                    </ul>
                                    <div class="flight-price">
                                        <h4 class="title">₺ @item.Journey.InternetPrice</h4>
                                        <a href="#" class="btn">Seç</a>
                                    </div>
                                </div>
                                <div class="booking-list-bottom">
                                    <ul>
                                        <li class="detail">İncele</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="flight-detail-wrap">
                                <div class="flight-date">
                                    <ul>
                                        <li>@item.Journey.Departure.ToString("dddd, dd MMMM yyyy",culture) <span>(@item.Journey.Duration.ToString(@"hh") Saat @item.Journey.Duration.ToString(@"mm") Dakika)*</span></li>
                                        <li>kalkış: @item.Journey.Departure.ToString("dddd, dd MMMM yyyy",culture) <span>@item.Journey.Departure.ToString("HH:mm")</span></li>
                                        <li>Varış: @item.Journey.Arrival.ToString("dddd, dd MMMM yyyy",culture) <span>@item.Journey.Arrival.ToString("HH:mm")</span></li>
                                    </ul>
                                </div>
                                <div class="flight-detail-right">
                                    <h4 class="title">@item.Journey.Origin</h4>
                                    <div class="flight-detail-info">
                                        <img src="@path@item.PartnerId@ext" style="width:170px" alt="">
                                        <ul>
                                        </ul>
                                    </div>
                                    <h4 class="title title-two">@item.Journey.Destination</h4>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

















