﻿@using AticAPI.WebUI.Models.VM
@model BusLocationVM

<div class="booking-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="booking-wrap">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="bOOKing-tab-pane" role="tabpanel" aria-labelledby="bOOKing-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="tab-content-wrap">
                                        <form action="/Home/BusList" method="post" class="booking-form">
                                            <ul>
                                                <li>
                                                    <div class="form-grp select">
                                                        <label for="shortBy">Kalkış Noktası</label>
                                                        <select id="origin" name="originId" asp-for="dataBusLocation.Id" asp-items="Model.selectList" class="form-select" aria-label="Default select example">
                                                            <option value="1" selected>--Seçiniz--</option>
                                                        </select>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-grp select">
                                                        <label for="shortBy">Varış Noktası</label>
                                                        <select id="destination" name="destinationId" asp-for="dataBusLocation.Id" asp-items="Model.selectList" class="form-select" aria-label="Default select example">
                                                            <option value="1" selected>--Seçiniz--</option>
                                                        </select>
                                                    </div>
                                                </li>
                                                <li style="width:300px">
                                                    <div class="form-grp date">
                                                        <ul>
                                                            <li>
                                                                <label for="shortBy">Yolculuk Tarihi</label>
                                                                <input type="text" class="date" id="date" name="date">

                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-grp economy">
                                                        <button type="button" class="btn" onclick="getToday()">Bugün</button>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="form-grp economy">
                                                        <button type="button" class="btn" onclick="getTomorrow()">Yarın</button>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-grp economy">
                                                        <button type="submit" class="btn">OTOBÜS BİLETİ BUL</button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#date").datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>